<p id="notice"><%= notice %></p>

<h1>Entries</h1>

<table>
  <thead>
  <tr>
    <th>Weight</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @entries.each do |entry| %>
    <tr>
      <td><%= entry.weight %></td>
      <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New Entry', new_entry_path %>